<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= bootstrap_class_for(key) %>">
      <%= value %>
    </div>
  <% end %>
  <% if user_signed_in?%>
      <p>Logged in as <%= current_user.email %>.</p>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <%else%>
      <%= link_to "Log in", new_user_session_path %> |
      <%= link_to "Sign up", new_user_registration_path %>
  <%end%>
    <%= yield %>
  </body>
</html>
